# Dependencias
node_modules/
npm-debug.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de build
dist/
build/

# Variables de entorno
.env
.env.local
.env.production